* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem 0;
}

#root {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    width: 80%;
}

main {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    text-align: center;
}

#title {
    font-size: 2.5rem;
    color: #0c0eff;
}

#rule,
#title {
    margin: 0;
}

button {
    border: none;
}

#roll-btn {
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #2f45ff;
    color: white;
}

#roll-btn:hover {
    background-color: #0c0eff;
    outline: 5px solid #85a8ff;
}

#roll-btn:focus-within {
    outline: 5px solid #85a8ff;
}

#dice-container {
    width: 80%;
    max-width: 540px;
    min-width: 340px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.die {
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    background-color: #e7e7e7;
    box-shadow: -2px 3px 4px lightgray;
    font-size: 2rem;
    border: 1px solid #d1d1d1;
    font-weight: 600;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

.die:hover {
    outline: 5px solid #85a8ff;
    background-color: #d1d1d1;
}

.die:focus-visible {
    outline: 5px solid #85a8ff;
}

.held {
    background-color: lightgreen;
}

.die.held:hover {
    background-color: lightgreen;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
